.ug-progress {
  background-color: var(--dark-snow);
  overflow: hidden;
  position: relative;
  width: 100%;

  &--xs {
    height: 0.125rem;

    .progress-bar {
      height: 0.125rem;
    }
  }

  &--sm {
    height: 0.25rem;

    .progress-bar {
      height: 0.25rem;
    }
  }

  &--md {
    height: 0.5rem;

    .progress-bar {
      height: 0.5rem;
    }
  }

  &--lg {
    height: 0.75rem;

    .progress-bar {
      height: 0.75rem;
    }
  }

  &--secondary {
    .progress-bar {
      background-color: var(--default-secondary);
    }
  }

  &--positive {
    .progress-bar {
      background-color: var(--default-positive);
    }
  }

  &--negative {
    .progress-bar {
      background-color: var(--default-negative);
    }
  }

  &--rounded {
    border-radius: 9999px;

    .progress-bar {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
    }
  }

  .progress-bar {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
