.ug-modal-manager {
  background-color: var(--white);
  height: 100%;
  top: 0;
  left: 0;
  line-height: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform-style: '';
  transform-style: '';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 100%;
  will-change: opacity;
  z-index: 40;

  &:not(.inverted)::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.25);
  }

  &:not(.inverted)::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
  }
}

// BODY MODIFIER
body.opened-modal {
  overflow: hidden;

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
}
